In [13]:
import numpy as np
import pandas as pd

In [14]:
df=pd.read_excel("data/data.xlsx")
df=pd.DataFrame(df)
df

,Student_ID,Name,Class,Section,English,Maths,Statistics,Python,Attendance
0,100001,Student_1,8,C,83.0,72.0,92.0,47.0,84.0
1,100002,Student_2,9,C,59.0,75.0,67.0,46.0,105.0
2,100003,Student_3,10,A,76.0,81.0,74.0,54.0,82.0
3,100004,Student_4,8,A,57.0,62.0,73.0,100.0,78.0
4,100005,Student_5,9,B,91.0,70.0,54.0,66.0,NaN
...,...,...,...,...,...,...,...,...,...
1995,101996,Student_1996,10,A,59.0,80.0,51.0,75.0,95.0
1996,101997,Student_1997,9,B,62.0,69.0,76.0,80.0,84.0
1997,101998,Student_1998,10,B,73.0,76.0,80.0,64.0,72.0
1998,101999,Student_1999,8,B,62.0,92.0,87.0,74.0,90.0
1999,102000,Student_2000,8,C,96.0,57.0,87.0,87.0,103.0

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  2000 non-null   int64
 1   Name        2000 non-null   str
 2   Class       2000 non-null   int64
 3   Section     2000 non-null   str
 4   English     1970 non-null   float64
 5   Maths       1970 non-null   float64
 6   Statistics  1970 non-null   float64
 7   Python      1970 non-null   float64
 8   Attendance  1975 non-null   float64
dtypes: float64(5), int64(2), str(2)
memory usage: 165.1 KB

In [16]:
df.columns=df.columns.str.lower().str.strip()

In [17]:
df.isnull().sum()

student_id     0
name           0
class          0
section        0
english       30
maths         30
statistics    30
python        30
attendance    25
dtype: int64

In [18]:
df['attendance']=df['attendance'].fillna(df['attendance'].mean())

In [19]:
subjects=['english',
          'maths',
          'statistics',
          'python']
for sub in subjects:
    df.loc[(df[sub]<0) | (df[sub]>100),sub]=np.nan
    
for sub in subjects:
    df[sub] = df[sub].fillna(df[sub].mean())

In [20]:
df.loc[(df['attendance'] < 0) | (df['attendance'] > 100), 'attendance'] = np.nan
df['attendance'] = df['attendance'].fillna(76)

In [21]:
df=df.drop_duplicates()

In [ ]:
df.to_excel("data/new_data.xlsx",index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'data/new_data.xlsx'